<h4>Leave a comment</h4>
<form class="post-new-comment" method="POST" action="{{ .Site.Params.staticman.baseurl }}/{{ .Site.Params.staticman.user }}/{{ .Site.Params.staticman.repo }}/{{ .Site.Params.staticman.branch }}/comments">
    <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
    <input type="hidden" name="options[slug]" value="{{ .Slug }}">
    <input class="post-comment-field" name="fields[name]" type="text" placeholder="Name (required)">
    <input class="post-comment-field" name="fields[email]" type="email" placeholder="E-mail (optional)">
    <textarea class="post-comment-field" name="fields[msg]" placeholder="Message (required, markdown enabled)" rows="10"></textarea>
    <input class="post-comment-field btn" type="submit" value="Submit">
</form>

<div id="comment-submitted">
  <p>Your comment has been submitted and will be published once it has been approved.</p>
</div>
