<aside class="col-sm-3 ml-auto blog-sidebar">
  {{ if and (.Site.Params.sidebar) (isset .Site.Params.sidebar "about") }}
  <section class="sidebar-module sidebar-module-inset">
    <h4>{{ i18n "about" }}</h4>
    <p>{{ .Site.Params.sidebar.about | markdownify }}</p>
  </section>
  {{ end }}

  {{ if (index .Site.Params.sidebar "series" | default false) }}
  <section class="sidebar-module">
    <h4>Series</h4>
    <ol class="list-unstyled">
    {{ range $name, $taxonomy := .Site.Taxonomies.series }}
      <li><a href="{{ "/series/" | relLangURL }}{{ $name | urlize }}">{{ replace $name "-" " " | title }}</a></li>
    {{ end }}
    </ol>
  </section>
  {{ end }}

  {{ if .Site.Params.sidebar }}
      {{ partialCached "recent.html" .}}
  {{ end }}

  {{ with .Site.Menus.sidebar }}
  <section class="sidebar-module">
    <h4>{{ i18n "links" }}</h4>
    <ol class="list-unstyled">
      {{ range . }}
      <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ol>
  </section>
  {{ end }}

  {{ if (index .Site.Params.sidebar "tag_cloud" | default false) }}
  <section class="sidebar-module tag-cloud">
    <h4>Tag Cloud</h4>
    {{ $tags := where $.Site.Taxonomies.tags.ByCount "Count" ">=" 1 }}
    {{ range $tags }}
        {{ if .Term }}
            {{ $tagURL := printf "tags/%s" .Term | relURL }}
            <a href="{{ $tagURL }}">{{ .Term }}</a>
        {{ end }}
    {{ end }}
  </section>
  {{ end }}
</aside><!-- /.blog-sidebar -->

{{- /* vim: set ts=2 sw=2 et: */}}
